# IntelliJ
.idea/
*.eml
**/*.iml
*.ipr
*.iws

# Eclipse
.classpath
.project
.metadata
.settings/
local.properties

# Cscope
cscope.*

# NetBeans
nbbuild/
nbdist/
ide/nbproject/private
nb-configuration.xml
nbactions.xml

# Maven, etc.
out/
target/